
.sign_title{
    font-size: 18px;
    font-weight: 500;
    color: var(--color1);
}
.sign_google img{
width: 20px;
}
.sign_google{
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--color1);
    font-weight: 500;
    box-shadow: inset 0 0 0 2px #e3e9ed;
    padding: 14px 0px;
    border-radius: 6px;
}
.sign_form label{
    font-size: 16px;
    font-weight: 500;
}
.text_link{
    color: #077CD0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.signin_btn, .signin_btn:hover{
    background-color: #077CD0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 0px !important;
}

@media screen and (min-width:768px) {
    .sign_container{
        width: 30%;
        margin: 0 auto;
    }
}

@media screen and (max-width:767px) {
    .sign_container{
        width: 80%;
        margin: 40px auto;
    }
}